<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark px-4">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 fw-bold" href="/bridge-pay">
            <span class="text-primary">bridge</span>Pay
        </a>

        <div class="collapse navbar-collapse justify-content-center mt-3" id="navbarNav">
            <ul class="navbar-nav nav-list">
                <li class="nav-item"><a class="nav-link text-white" href="/bridge-pay">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/bridge-pay/transfer">Transfer</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/bridge-pay/transactions">Transactions</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/contact-us">Support</a></li>
            </ul>
        </div>

        <!-- Connect Wallet Button -->
        <div class="d-flex gap-3">
            <button onclick="connectMetaMask()" class="btn btn-outline-light px-5 py-2">Connect Wallet</button>
        </div>
    </div>
</nav>
